name: Test

on: [push, pull_request]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Provides nice code review annotations for problems discovered by
    # shellcheck.
    - uses: reviewdog/action-shellcheck@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-review
        level: info

    # As `reviewdog/action-shellcheck` does not fail the build on `style`
    # errors, run `bewuethr/shellcheck-action` as a precaution. Can be removed
    # once `reviewdog/action-shellcheck` fails the build on the specified
    # `severity`.
    - uses: bewuethr/shellcheck-action@v2

  docker:
    name: Docker
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: SHA8
      id: sha8
      env:
        GIT_SHA: ${{ github.sha }}
      run: |
        SHA8=$(echo ${GIT_SHA} | cut -c1-8)
        echo "SHA8: ${SHA8}"
        echo "::set-output name=sha8::${SHA8}"

    - uses: ./
      with:
        password: "${{ secrets.GITHUB_TOKEN }}"
        registry: docker.pkg.github.com
        image_name: ${{ github.repository }}
        image_tag: ${{ steps.sha8.outputs.sha8 }}
